<footer class="bottom__footer">
    
   
    <i class="fas fa-chevron-up bottom__footer--arrow"></i>

    <div class="bottom__footer__social-icon">
      
        <ul>
            <li>
                <a href="https://github.com/SouravDhali-web" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/sourav-dhali-a46b51117" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/sourav__889/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                
            </li>

            <li>
                <a href="https://www.behance.net/sourav_dhali/" target="_blank">
                    <i class="fab fa-behance"></i>
                </a>
                
            </li>
        </ul>
            
        
    </div>

    <div class="bottom__footer__credit">
        <p> &copy; 2020-Templete design and developed by Sourav Dhali </p>
    </div>
    
</footer>
