<!-- <app-nav></app-nav> -->

<div class="myresume">

    <div class="myresume__heading">


        <div class="myresume__primaryhead">
            <h3> Web Developer | Web Designer </h3>
        </div>

        <div class="myresume__paragraph">
            <p>A Bangladesh based web developer who is eager to play the role of responsible designing, coding and modifying websites, from layout to function and according to a client's specifications. My strive is to create visually appealing sites that feature user-friendly design and clear navigation. I have a deep expertise and hands on experience with Web programming languages.I I develop this portfolio with <span>  <strong>Angular</strong>  </span>. I also have knowledge about <span>UX & UI</span> . I design this website in <span>Figma</span> and then develop this. I am looking forward to work with development teams or managers for keeping the site up-to-date and prioritizing needs, among other tasks. </p>
        </div>


    </div>

    <div class="myresume__btn">
        <a href="https://www.upwork.com/o/profiles/users/~01303abda12f1e6488/" class="myresume__btn--filled" target="_blank" >Hire Me</a>

        <!-- <a href="" class="myresume__btn--unfilled"> Buy me a coffee </a> -->

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" >
          <input type="hidden" name="cmd" value="_s-xclick" />
          <input type="hidden" name="hosted_button_id" value="G4G3DW3J8MDXE" />
          <!-- <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" /> -->
          <button name="submit" title="PayPal - The safer, easier way to pay online" alt="Donate with PayPal button" type="submit" class="myresume__btn--unfilled">Buy me a coffee</button>
          <!-- <img alt="" border="0" src="https://www.paypal.com/en_CY/i/scr/pixel.gif" width="1" height="1" /> -->
        </form>


    </div>

    <div class="myresume__subheading">
        <h3> My <span>Skills</span>  </h3>
    </div>

    <div class="myresume__skills">

    <!-- card -->
        <div class="myresume__skills--card">
            <div class="myresume__skills--img">
                <img src="../../assets/skillicon/icons8-html-5-100.png" alt="html 5 logo">
            </div>
            <div class="myresume__skills--heading">
                <p> HTML 5 </p>
            </div>
        </div>

        <!-- card -->
        <div class="myresume__skills--card">
            <div class="myresume__skills--img">
                <img src="../../assets/skillicon/icons8-css3-100.png" alt="css3 logo">
            </div>
            <div class="myresume__skills--heading">
                <p> CSS 3 </p>
            </div>
        </div>

        <!-- card -->
        <div class="myresume__skills--card">
            <div class="myresume__skills--img">
                <img src="../../assets/skillicon/icons8-sass-100.png" alt="sass logo">
            </div>
            <div class="myresume__skills--heading">
                <p> SASS </p>
            </div>
        </div>

        <!-- card -->
        <div class="myresume__skills--card">
            <div class="myresume__skills--img">
                <img src="../../assets/skillicon/icons8-javascript-100.png" alt="javascript logo">
            </div>
            <div class="myresume__skills--heading">
                <p> JAVA SCRIPT </p>
            </div>
        </div>


        <!-- card -->
        <div class="myresume__skills--card">
            <div class="myresume__skills--img">
                <img src="../../assets/skillicon/icons8-jquery-100.png" alt="jquery logo">
            </div>
            <div class="myresume__skills--heading">
                <p> JQUERY </p>
            </div>
        </div>

        <!-- card -->
        <div class="myresume__skills--card">
            <div class="myresume__skills--img">
                <img src="../../assets/skillicon/icons8-angularjs.svg" alt="angular logo">
            </div>
            <div class="myresume__skills--heading">
                <p> ANGULAR </p>
            </div>
        </div>

        <!-- card -->
        <div class="myresume__skills--card">
            <div class="myresume__skills--img">
                <img src="../../assets/skillicon/icons8-bootstrap-100.png" alt="bootstrap4 logo">
            </div>
            <div class="myresume__skills--heading">
                <p> BOOTSTRAP 4 </p>
            </div>
        </div>

        <!-- card -->
        <div class="myresume__skills--card">
            <div class="myresume__skills--img">
                <img src="../../assets/skillicon/icons8-wordpress-144.png" alt="wordpress logo">
            </div>
            <div class="myresume__skills--heading">
                <p> WORDPRESS </p>
            </div>
        </div>


    </div>

</div>



<app-footer></app-footer>
