<section class="contact">
    <div class="contact__heading">
        <h2>
            Let's <span> Talk </span>
        </h2>
    </div>

    <div class="contact__form">
      <form action="https://formspree.io/xnqglewp" method="POST">

        <!-- form  input  and  lebel -->

        <div class="contact__email">

          <div class="contact__email--label">
            <label>Your Email</label>
          </div>

          <div class="contact__email--input">
            <input type="text" name="_replyto" required placeholder="Write your email">
          </div>
        </div>

        <div class="contact__message">

          <div class="contact__message--label">
            <label>Your Message</label>
          </div>

          <div class="contact__message--input">
            <textarea name="message" cols="35" rows="5" required placeholder="Write here"></textarea>
          </div>
        </div>


            <!-- your other form fields go here -->

              <button type="submit" class="contact__form--btn">Send</button>
      </form>

    </div>

</section>
