<section class="about">
    <div class="about__img">
        <img src="../../assets/profileimage/profile--color.jpg" alt="portfolio-image">
    </div>
    <div class="about__details">
        <p>
        I am a Front End Web Developer based in Bangladesh. I love coding, open source and the web platform. <br>
        I have a fondness in contributing to the open sorce projects. This helps me to learn new stuffs every now and then. I like travelling and trying new cuisine.
        </p>

        <a href="../../assets/resume/resume of sourav dhali [front end web developer].pdf" class="about__btn" download>
            View Resume
        </a>

    </div>
</section>
