<!-- <app-nav></app-nav> -->

<div class="portfolio">

            <!-- card--strat -->
    <div class="portfolio__card">
        <div class="portfolio__img">
            <img src="../../assets/projectimage/Elena-Joy-Photography.jpg" alt="elena joy project image" />
        </div>
        <div class="portfolio__wrapper">
            <div class="portfolio__title">
                <h3>Elena Joy Photography</h3>
            </div>

            <div class="portfolio__details">
                <p> The purpose of this theme is to impress potential clients with this beautiful and minimal family and professional photography website. Comprising Uploading images to show off the projects and add text to highlight your services and qualifications and with responsive design to showoff your portfolio.  </p>
            </div>

                <a href="https://elenajoy-photography.netlify.app/" class="portfolio--btn" target="_blank"> See Live</a>
        </div>
    </div>
                <!-- card--end -->

     <!-- card--strat -->
     <div class="portfolio__card">
        <div class="portfolio__img">
            <img src="../../assets/projectimage/Travelly-Website.jpg" alt="travelly project image" />
        </div>
        <div class="portfolio__wrapper">
            <div class="portfolio__title">
                <h3>Travelly</h3>
            </div>

            <div class="portfolio__details">
                <p>
                    The intention is to step off the regular track with the vibrant colors and bold fonts of this website template to show off exotic locations and add text to describe the unique packages and services.
                </p>
            </div>

                <a href="https://travelly-travel-agency.netlify.app" class="portfolio--btn" target="_blank"> See Live</a>
        </div>
    </div>
    <!-- card--end -->


     <!-- card--strat -->
     <div class="portfolio__card">
        <div class="portfolio__img">
            <img src="../../assets/projectimage/Free-Macbook-Air-2020-Mockup.jpg" alt="natours project image" />
        </div>
        <div class="portfolio__wrapper">
            <div class="portfolio__title">
                <h3>Natourus</h3>
            </div>

            <div class="portfolio__details">
                <p> An exotic theme ready to put the travel agency on the map. Promote the vacation packages and entice travelers with images of glamorous locations. This design consists of adjusting the color scheme, fonts, and design to suit the business needs.</p>
            </div>

                <a href="https://natourus-travel-agency.netlify.app" class="portfolio--btn" target="_blank"> See Live</a>
        </div>
    </div>
    <!-- card--end -->
     <!-- card--strat -->
     <div class="portfolio__card">
        <div class="portfolio__img">
            <img src="../../assets/projectimage/Cloting-Store.jpg" alt="cloting store project image" />
        </div>
        <div class="portfolio__wrapper">
            <div class="portfolio__title">
                <h3>Clothing Store</h3>
            </div>

            <div class="portfolio__details">
                <p> The motive behind this design to catch customers’ eyes with a trendy and chic composition. Natural colors and clean lines make this design an ideal choice for responsibly-sourced and sustainable brands. A highly visual homepage lets the website to showcase label’s bestsellers and newest arrivals for customers to see. </p>
            </div>

                <a href="https://clothes-store-online.netlify.app" class="portfolio--btn" target="_blank"> See Live</a>
        </div>
    </div>
    <!-- card--end -->
     <!-- card--strat -->
     <div class="portfolio__card">
        <div class="portfolio__img">
            <img src="../../assets/projectimage/Georgia-restaurant.jpg" alt="georgia restaurant project image" />
        </div>
        <div class="portfolio__wrapper">
            <div class="portfolio__title">
                <h3>Georgia Restaurant</h3>
            </div>

            <div class="portfolio__details">
                <p>
                    Authentic, traditional, certified. When the restaurant has something special to offer, this website comprises unique visual richness, combining eye-catching typography and images which is appealing to the consumers. The intention is to feast the customers’ eyes on this fresh and fun website.
                </p>
            </div>

                <a href="https://restaurant-georgia.netlify.app" class="portfolio--btn" target="_blank"> See Live</a>
        </div>
    </div>
                <!-- card--end -->



</div>


<app-footer></app-footer>
