<!-- <app-nav></app-nav> -->

<section class="homebanner">
    <div class="homebanner__wrapper">
        <h2  class="homebanner__heading">
            Hola, My name is <span>Sourav Dhali</span> 
        </h2 >
        <h2 class="homebanner__heading">
            I am a Front-end-web Developer
        </h2>

        <button class="homebanner__btn-green" routerLink="/About">
            Know More
        </button>
    </div>  
</section>

<app-about-resume-section></app-about-resume-section>
<app-contact></app-contact>
<app-footer></app-footer>